<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Lines</h2>
    </header>
    <section class="bordered">
		<ul>
			<% for(var i=0; i<lines.length; i++) {%>
				   <%if (lines[i].check_in.line_length) { %>
			   		<li> 				   
				   		<%= lines[i].check_in.location %> <%= lines[i].check_in.check_in_expire_time %> 
				   <% } %>
				   </li>
			<% } %>
		</ul>
    </section>
</section>

<% include footer %>