<% include header %>

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
		<h2 class="light no-margin">Notifications</h2>
    </header>
    <section class="bordered">

    </section>
</section>

<% include footer %>